html body{
	font-family: "Play";
	background : url(bg-1.jpg) no-repeat center fixed;
	background-size: cover;
	padding-bottom: 25px;
}

a:visited{
	color: grey;
}

td{
    border-bottom: 1px solid grey;
    transition: all 0.7s ease 0s;
}

tr:hover {
	text-shadow: 0 0 4px #FF0000;
    background: rgba(255,255,255,0.1);
}

th{
	font-weight: bold;
}

.footer{
	color: lightgrey;
	clear: both;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #151515;
	text-align: center;
	font-size: 16px;
	padding: 2px 2px;
	position: fixed;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.btn-small{
	padding: 0;
	margin: 0;
}



.col-md-2{
	border-right: 1px ;
}

.my-label{
	color: purple;
	font-weight: bold;

}
.my-label:hover{
	color: red;
	text-decoration: none;
}


@media (max-width: 768px)
{
	.footer{
	color: lightgrey;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #151515;
	text-align: center;
	font-size: 14px;
	padding: 0px;
	}
	
	.btn{
		width: auto;
		height: auto;
	}
}